body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 800px;
  margin: auto;
}

h1{
  border-bottom: solid #ddd;;
}

#app li{
  line-height: 200%;
}

#app input[type="text"] {
  padding: 4px;
}

.command{
  cursor: pointer;
  color: #08c;
}

#app ul{
  padding: 0;
  list-style: none;
}

#app li>span.done{
  text-decoration: line-through;
  color: pink;
  margin-right: 6px;
}

.info {
  color: #bbb;
  font-size: 12px;
  font-weight: normal;
}

.num{
  border : solid 1px #333 ;
  padding: 0.1em;
  border-radius: 10px;
}

input::placeholder {
  color: #bbb;
}