body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 300px;
  margin: auto;
}

h1{
  border-bottom: solid #ddd;;
}

#app li{
  line-height: 200%;
}

#app input[type="text"] {
  padding: 2px;
}

.command{
  cursor: pointer;
  color: #08c;
}

#app ul{
  padding: 0;
  list-style: none;
}

#app li>span.done{
  text-decoration: line-through;
  color: #bbb;
}
