<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>ToDoList App</title>
</head>
<body>
  <div id="app" class="container">
    <h1>
      ToDoリスト
      <span class="info">{{ remaining }}/{{ todos.length }}</span>
      <button v-on:click="purge">purge</button>
    </h1>
    <ul v-if="todos.length">
      <li v-for="(todo,index) in todos">
        <input type="checkbox" v-model="todo.isDone">
        <span v-bind:class="{done: todo.isDone}">
          {{ todo.title }}
        </span>
        <span @click="deleteItem(index)" class="command">[x]</span>
        <span class="info">{{ todo.time }}</span>
      </li>
    </ul>
    <ul v-else>
      <p>Nothing now</p>
    </ul>
    <form @submit.prevent="addItem">
      <input type="text" v-model="newItem">
      <input type="submit" value="Add">
    </form>
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>